@font-face {
  font-family: Montsterrat;
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: tegaki;
  src: url('/fonts/tegaki.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {    
  font-family: Montsterrat;
  margin: 0; 
  height: 100vh;
  background-image:  url('/image/dzubei.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {  
  padding: 150px 0;
  text-align: center;
}

.section-page3{
  text-align: center;
}

.center{
  text-align: center;
}

.zag {
  display: block;
  font-size: 200px;
  color: white;
  
  text-shadow: 20px 20px 40px  white;

  pointer-events: none; /* Отключает взаимодействие мышью */
  user-select: none;    /* Отключает выделение текста */
}

.restaurant-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.info-block {
  flex: 1;
  padding: 0 20px;
  color: white;
  text-align: center;
}

.info-block h4 {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.info-block p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.google-carta{
  padding: 30px;
  width: 100%; /* Занимает всю доступную ширину */
  max-width: 700px; /* Максимальная ширина */
  margin: 0 auto;
}
.google-carta iframe {
  width: 100%;
  height: 300px; /* Можно поставить auto, но лучше задать минимальную высоту */
  border: none;
}

@media (max-width: 768px) { 
     
  .restaurant-container {
    max-width: 1200px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .restaurant-container {
    margin: 70px 20px 0; /* Делаем отступы */
  }

  .zag {
    font-size: 30px; /* Уменьшаем размер заголовка */
    top: 10px;
  }

  .google-carta iframe {
    height: 200px; /* Меньше высота на мобильных */
  }

  
}
@media (min-width: 768px){
  .restaurant-container {
    margin: 70px 20px 0; /* Делаем отступы */

  }

}
.cart {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
